{% extends 'base.html' %}

{% block title%}Meine tolle Flask App{% endblock %}

{% block content %}
<header>
  <nav>
     <ul>
         <li><a href="index.html">Hauptseite</a></li>
     </ul>
  </nav>
</header>

<figure>
  <img src="../static/img/coffee-and-keyboard.jpg" />
</figure>

<h1>Unser toller Flask Blog</h1>

<section class="">
</section>

<footer>
    Das hier ist der Footer. Hier kommt das Impressum, die
    Datenschutzerklärung und Informationen über uns hin.
</footer>
{% endblock %}